# Database MySQL Configuration
DB_USER=root
DB_PASS=
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=anti_zombi_db

# Server Port
PORT=8080

# External Python AI Service Endpoint
AI_SERVICE_URL=http://localhost:5000/predict
